html {
  height: unset;
  min-height: 100%;
  position: relative;
}

body {
  height: auto;
  margin-bottom: 150px;
  position: static;
}

#main-div {
  height: auto;
  width: 100%;
}

.form-group {
  padding-left: 2rem;
  width: 50%;
}

.footer {
  background-color: #292c2f;
  bottom: 0px;
  font-size: 1.2rem;
  height: 150px;
  left: 0px;
  position: absolute;
  text-align: center;
  width: 100%;
  p {
    &.slogan {
      color: #8d9093;
      font-size: 1.8rem;
      margin: 0 0 1rem;
    }
    &.copywrite {
      color: #8f9296;
      font-size: 0.875rem;
      margin: 0;
    }
  }
  .links a {
    color: #ffffff;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 3rem 0 2rem;
    &::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem;
    }
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
}

.tabs dd.active a {
  background-color: #008CBA;
}

.relayOn {
  background-color: #F0FF10;

  &:focus {
      background-color: #F0FF10;
      border-color: #F0FF10;
      outline-color: #F0FF10;
  }
}

.relayOff {
  background-color: #777777;

  &:disabled, &:focus {
    background-color: #777777;
    border-color: #777777;
    outline-color: #777777;
  }
}

.deleteBtn {
  background-color: #691515;
  color: #FFFFFF;
  padding: 4px 8px 4px 8px;

  &:hover {
    background-color: #461010;
  }
}

tab-heading {
  .deleteBtn {
    float: right;
    margin: -5px -20px;
  }
}
