<form role="form" ng-submit="rs.addRule()">
  <h1>Add a rule</h1>
  <div class="row">
    <div class="small-4 columns">
      <label>Rule Name</label>
      <input type="text" placeholder="Rule Name" ng-model="rs.ruleName" value="" />
    </div>
    <div class="small-4 columns">
      <label>Rule Type</label>
      <select
        ng-options="type for type in rs.ruleTypes"
        ng-model="rs.ruleType"
      ></select>
    </div>
    <div class="small-4 columns">
      <button
        type="submit"
        class="btn btn-default"
        ng-disabled="rs.enableAddRuleBtn()"
      >Add</button>
    </div>
  </div>

  <div class="row">
    <div class="small-4 columns">
      <label ng-repeat="day in rs.daysOfWeek">
        <input
          type="checkbox"
          name="daysOfTheWeek"
          value="{[ day ]}"
          ng-checked="rs.daysOfWeekSelected.indexOf(day) > -1"
          ng-click="rs.daysOfWeekToggle(day)"
        /> {[ day ]}
        <br />
      </label>
    </div>

    <div class="small-4 columns">
      <div ng-show="rs.ruleType === 'Schedule'">
        <label>Select Time Type</label>
        <label>
          <input
            type="radio"
            name="scheduleTimeType"
            value="manual"
            ng-model="rs.scheduleTimeType" />
          Manual
          <br />
        </label>

        <label>
          <input
            type="radio"
            name="scheduleTimeType"
            value="auto"
            ng-model="rs.scheduleTimeType" />
          Automatic
          </br />
        </label>

        <div ng-show="rs.scheduleTimeType === 'manual'">
          <label>Hour</label>
          <select
            ng-options="day for day in rs.hoursInDayArr"
            ng-model="rs.hourInDay"
          ></select>
          <br />

          <label>Minute</label>
          <select
            ng-options="minute for minute in rs.minutesInDay"
            ng-model="rs.minuteInDay"
          ></select>
          <br />
        </div>
        <div ng-show="rs.scheduleTimeType === 'auto'">
          <label>Zip Code</label>
          <input type="text" ng-model="rs.scheduleZipCode" value="" />

          <label>Select time of Day</label>
          <label>
            <input
              type="radio"
              name="scheduleTimeOfDayType"
              value="sunrise"
              ng-model="rs.scheduleTimeOfDayType" />
            Sunrise
            <br />
          </label>

          <label>
            <input
              type="radio"
              name="scheduleTimeOfDayType"
              value="sunset"
              ng-model="rs.scheduleTimeOfDayType" />
            Sunset
            <br />
          </label>
        </div>
      </div>

      <div ng-show="rs.ruleType === 'Event'">
        <label>Reference to Node</label>
        <select
          ng-options="n.name for n in rs.foreignNodes | notthesame:rs"
          ng-model="rs.foreignNode"
        ></select>

        <br />
        <label>Status of that node</label>
        <label>
          <input
            type="radio"
            name="foreignNodeStatus"
            value="on"
            ng-model="rs.foreignNodeStatus" />
          Is On
          <br />
        </label>

        <label>
          <input
            type="radio"
            name="foreignNodeStatus"
            value="off"
            ng-model="rs.foreignNodeStatus" />
          Is Off
          <br />
        </label>
      </div>

      <div ng-show="rs.ruleType === 'Motion'">
      </div>
    </div>

    <div class="small-4 columns">
      <div class="small-4 columns">
        <label for="ruleAddTurnOn">Turn&nbsp;{[ rs.ruleTurnOnStr ]}</label>
        <input
          type="checkbox"
          id="ruleAddTurnOn"
          ng-model="rs.ruleTurnOn"
          ng-change="rs.scheduleActionChange()"/>
      </div>
    </div>
  </div>
</form>
