{% extends "base.html" %}

{% block main %}
  <div class="container" ng-controller="nosferatuController">
    <div>
      <form role="form" ng-submit="findNodes()">
        <button type="submit" class="btn btn-default" ng-disabled="findingNodes">{[submitButtonText]}</button>
        <img class="col-sm-3 col-sm-offset-4" src="/static/img/spinner.gif" ng-show="loading">
      </form>

      <tabset vertical="true">
        <tab ng-repeat="node in foundNodes"
             heading="{[node.ip]}"
        >
          <found-node node="node" addedNodes="addedNodes">
            <form role="form" ng-submit="node.add()">
              <div class="row">
                <div class="small-4 columns">
                  <input type="text" placeholder="Node Name" />
                </div>
                <div class="small-4 columns">
                  <label>Node IP:
                    <label>{[node.ip]}</label>
                  </label>
                </div>
                <div class="small-4 columns">
                  <label>Node MAC:
                    <label>{[node.mac]}</label>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="small-4 columns"></div>
                <div class="small-4 columns">
                  <button type="button" ng-click="node.test()">
                    {[node.testBtnText]}
                  </button>
                </div>
                <div class="small-4 columns">
                  <button type="submit" class="btn btn-default" ng-disabled="saving">
                    {[node.saveBtnText]}
                  </button>
                </div>
              </div>
            </form>
          </found-node>
        </tab>
      </tabset>
    </div>

    <hr />

    <tabset vertical="true">
      <tab heading="Global">
        <h1>Global Status and Settings</h1>
      </tab>
      <tab ng-repeat="node in nodes" heading="{[node.name]}" ng-class="{[node.status]}">
        <form role="form" ng-submit="node.changeStatus()">
          <h1>Status</h1>
          <div class="row">
            <div class="small-4 columns">
              <button type="submit" class="btn btn-default light-status-on" ng-class="{[node.status]}">
                On!
              </button>
            </div>
            <div class="small-4 columns">
              <label for="useMotion">Use Motion Data</label>
              <input id="useMotion" type="checkbox" class="small-4 columns" />
            </div>
            <div class="small-4 columns">
            </div>
          </div>
        </form>

        <rule-selector node="node"></rule-selector>

        <h1>Existing Rules</h1>
        <div class="row">
          <div class="small-4 columns">
          </div>
          <div class="small-4 columns">
          </div>
          <div class="small-4 columns">
          </div>
        </div>
      </tab>
    </tabset>
  </div>
{% endblock %}
