{% extends "base.html" %}

{% block main %}
  <div class="container" ng-controller="nosferatuController">
    <form role="form" ng-submit="searchForNode()">
      <button type="submit" class="btn btn-default" ng-disabled="loading">{[submitButtonText]}</button>
      <img class="col-sm-3 col-sm-offset-4" src="/static/img/spinner.gif" ng-show="loading">
    </form>

    <hr />
    <tabset vertical="true">
      <tab heading="Main">
        Main!
      </tab>
      <tab ng-repeat="node in nodes" heading="{[node.ip]}" ng-class="{[node.status]}">
        {[node.id]}!
      </tab>
    </tabset>
  </div>
{% endblock %}
