<form role="form" ng-submit="addThisNode(nodeId)">
  <input type="text" name="nodeId" ng-model="nodeId" value="{[node.id]}" />
  <div class="row">
    <div class="small-4 columns">
      <input type="text" placeholder="Node Name" />
    </div>
    <div class="small-4 columns">
      <label>Node IP:
        <label>{[node.ip]}</label>
      </label>
    </div>
    <div class="small-4 columns">
      <label>Node MAC:
        <label>{[node.mac]}</label>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="small-4 columns"></div>
    <div class="small-4 columns">
      <button type="button" ng-click="testFoundNode(nodeId)">{[testNodeBtnText]}</button>
    </div>
    <div class="small-4 columns">
      <button type="submit" class="btn btn-default" ng-disabled="addingNode">Save</button>
    </div>
  </div>
</form>
